# see https://quarto.org/docs/publishing/netlify.html#rendering-on-netlify
/.quarto/

######## R project specific (R.gitignore)
# from https://github.com/github/gitignore/
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

/_book/
/*_files/
/*.tex