/* thin border around cover image */
.quarto-cover-image {
  border: 1px solid #000
}


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.infobox {
  padding: 1em;
  margin-bottom: 1em;
  background: #e6f0ff 5px center/3em no-repeat;
/*  border-top: 2px solid; */
  display: flex;
}

.infobox.title {
  height: 20px;
  width: 100px;
  background-color: #eeeeee;
  text-align: center;
  margin-top: -1.8em;
  margin-bottom: 0.8em;
  font-weight: bold;
}


.blank {
  background-color:#ffffff; 
  display: flex;
}
           
.left {
  flex: 2;
  width: 80%;
  text-align: left;
}

.right {
  flex: 1;
  width: 20%;
  text-align: right;
}

.left-narrow {
  flex: 1;
  width: 50%;
  text-align: left;
}
                 
.right-wide {
  flex: 1;
  width: 50%;
  text-align: left;
}

/* blue boxes */
div.blue {
  background-color:#e6f0ff; 
  border-radius: 5px; 
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  margin: 10px;
}
          
div.plainblue {
  background-color:#e6f0ff; 
  border-radius: 5px; 
  padding: 20px;
}
        
div.left {
  flex: 2;
  width: 80%;
  text-align: left;
}
        
div.right {
  flex: 1;
  width: 20%;
  text-align: right;
}

/* remove left border of callout */
div.callout.callout {
    border-left: 0px;
}

/* centered text */
.centeredtitle{
  font-family: Helvetica; 
  margin-bottom: 0rem;
  text-align: center;
}

.gt_footnote, .gt_footnotes{
  text-align: left;
  border-bottom: 1px solid white ;
}

.gt_table{
  margin-bottom: 0px;
}